<% include ../partials/header %>
  <div class="container">
    <div class="row showContainer">
      <div class="col-md-9 selectedProfil">
      </div>


    <div class="col-md-3 menu"></div>
    </div>
    <div class="addComment"></div>
    <div class="comments"></div>

  </div>

  <script type="text/javascript">
    const bioData = document.querySelector('.biodata')
    const menu = document.querySelector('.menu');
    const selectedProfil = document.querySelector('.selectedProfil');
    const comments = document.querySelector('.comments');
    const buttonComment = document.querySelector('.addComment');
    const camperID = <%-JSON.stringify(camperIDHtml) %>;
    console.log(camperID);
    const firstName = camperID.name.first.charAt(0).toUpperCase() + camperID.name.first.slice(1);
    const lastName = camperID.name.last.charAt(0).toUpperCase() + camperID.name.last.slice(1);

    const gender = 'Not Available' || camperID.gender.charAt(0).toUpperCase() + camperID.gender.slice(1);
    selectedProfil.innerHTML +=
      `
      <div class="row d-flex justify-content-center">
      <div class="col-md-5 col-7 col-lg-6 d-flex flex-column align-items-center align-self-center justify-content-center">
        <img class="img-fluid d-block" src="${camperID.picture.large}">
      </div>
      <div class="col-md-4 col-4 d-flex flex-column justify-content-center col-lg-5 align-self-center align-items-start">
        <div class="row">
          <div class="col-md-12">
            <h2 class="">${firstName} ${lastName}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">${camperID.email || 'Not Available'}
              <br>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">${gender || 'Not Available'}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="lead">Location</p>
          </div>
        </div>
      </div>
    </div>
    `;




    menu.innerHTML =
      `
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Comments
        <span class="badge badge-primary badge-pill">${camperID.comments.length}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>

    `;

    selectedProfil.innerHTML += `
    <p class="biodata">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    `;

    selectedProfil.innerHTML += `
      <div class="row mx-auto w-100 comment-button">
        <div class="text-right col-md-12">
          <a class="btn btn-primary" href="./${camperID._id}/comments/new/">Add comments...</a>
        </div>
      </div>
    `;

    camperID.comments.forEach((elemen, index) => {
      selectedProfil.innerHTML +=
        `
      <div class="row w-100 mx-auto" data-comment=${index}>
          <div class="text-left col-md-12 comment-content">
            <h3 class="">${elemen.text}</h3>
          </div>
          <div class="col-md-12 comment-author">
            <p class="text-right text-uppercase"> - ${elemen.author}</p>
          </div>
        </div>
      `;
    });

  </script>

  <% include ../partials/footer %>
