<html>

  <head>
    <meta charset="utf-8">
    <title>Camper</title>
  </head>

  <body>
    <a href="/camper/new">Add new Camper </a>
    <div class="camper">


    </div>

    <script type="text/javascript">
      const div = document.querySelector('.camper');
      const camper = <%-JSON.stringify(camperHTML) %>
      console.log(camper);

      camper.forEach(element => {
        const nodeli = document.createElement('li');
        const firstName = element.name.first.charAt(0).toUpperCase() + element.name.first.slice(1);
        const lastName = element.name.last.charAt(0).toUpperCase() + element.name.last.slice(1);
        const imageProfil = document.createElement('img');
        imageProfil.src = element.picture.large;
        nodeli.innerHTML = `${firstName} ${lastName} <br />`;
        nodeli.appendChild(imageProfil);
        div.appendChild(nodeli);
      })

    </script>
  </body>

</html>
