<%include partials/header %>
    <h1>Register New Camper</h1>

    <form class="" action="/camper" method="post">
      <input type="text" name="camperNameFirst" value="" placeholder="Camper Name"><br />
      <input type="text" name="camperNameLast" value="" placeholder="Camper Name"><br />
      <input type="text" name="camperImage" value="" placeholder="Image Url"><br />
      <button type="submit" name="button">Register</button>
    </form>
<%include partials/footer %>
